@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1457171907497-235711313923?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2103&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero h2 {
  margin-bottom: 50px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.text input:focus {
  outline: none;
}
.midCards {
  display: flex;
}

.content1-mission {
  border: 4px solid transparent;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b);
  border-image-slice: 1;
  background: linear-gradient(to right, #ffffff, #dddddd);
  margin: 2rem;
  padding: 2rem;
}

.content1-midsection2 {
  position: relative;
  margin-left: 2rem;
}

.img2 {
  position: absolute;
  right: -10vw;
  bottom: -14vh;
}

.img1::before,
.img2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 165, 0, 0.5);
  top: -5px;
  left: -5px;
}

.content1-mission .fa {
  color: royalblue;
}

.content1-mission .title {
  color: black;
  margin-left: 5px;
  font-family: "montserrat", sans-serif;
  letter-spacing: 3px;
  line-height: 20px;

}
